.about {
  padding-top: 150px;
  padding-bottom: 153px;

  @media #{$screen-tablet} {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  @media #{$screen-mobile} {
    padding-bottom: 79px;
  }

  h2 {
    @include font-mixin(30px, 100%);

    margin: 0;
    margin-bottom: 50px;

    font-weight: 600;
    text-align: center;

    @media #{$screen-tablet} {
      @include font-mixin(24px, 171%);

      margin-bottom: 30px;
    }
  }
}

.about__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 40px;

  margin: 0 auto;

  @media #{$screen-tablet} {
    grid-template-columns: 1fr 1fr;
    gap: 38px 39px;
    width: 566px;
  }

  @media #{$screen-mobile} {
    grid-template-columns: 1fr;
    gap: 35px 0;
    width: 280px;
  }
}

.about__item {
  @include font-mixin(22px, 155%);

  text-align: center;
  letter-spacing: -0.5px;

  @media #{$screen-mobile} {
    @include font-mixin(18px, 189%);
  }

  span {
    @include font-mixin(28px, 136%);

    display: block;
    margin-bottom: 14px;

    color: $feature-number;
    font-weight: 700;
    letter-spacing: -1.3px;

    @media #{$screen-tablet} {
      margin-bottom: 18px;
    }

    @media #{$screen-mobile} {
      margin-bottom: 17px;
    }
  }
}
