.catalog {
  padding: 149px 0 147px;

  background-color: $catalog-bacgkround;

  @media #{$screen-tablet} {
    padding: 50px 0 70px;
  }

  @media #{$screen-mobile} {
    padding: 50px 0 50px;
  }

  h2 {
    @include fz-lh(30px, 100%);

    margin: 0;
    margin-bottom: 51px;

    font-weight: 600;
    text-align: center;

    @media #{$screen-tablet} {
      @include fz-lh(24px, 171%);

      margin-bottom: 30px;
    }
  }
}

.catalog__list {
  display: flex;

  margin: -25px;
}

.catalog__item {
  outline: 1px solid tomato;
  width: calc(100% / 3 - 50px);
  margin: 25px;
}

.catalog__link {
  img {

  }

  h3 {
    @include fz-lh(22px, 155%);

    margin: 0;

    color: $common-text;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.5px;
  }
}
