.footer {
  padding-top: 251px;
  padding-bottom: 98px;

  @media #{$screen-tablet} {
    padding-bottom: 53px;
    padding-top: 155px;
  }

  @media #{$screen-mobile} {
    padding-bottom: 51px;
    padding-top: 119px;
  }

  h2 {
    @include fz-lh(30px, 100%);

    margin: 0;
    margin-bottom: 30px;

    color: $title-text;
    font-weight: 600;
    text-align: center;

    @media #{$screen-tablet} {
      @include fz-lh(24px, 125%);

      margin-bottom: 20px;
    }

    @media #{$screen-mobile} {
      @include fz-lh(18px, 167%);
    }
  }

  p {
    @include fz-lh(17px, 182%);

    width: 555px;
    margin: 0 auto 41px;
    padding-right: 15px;

    color: rgba($common-text, 0.7);
    text-align: center;
    letter-spacing: normal;

    @media #{$screen-tablet} {
      width: auto;
      margin-bottom: 20px;
      padding-right: 0;
    }

    @media #{$screen-mobile} {
      width: 270px;
      margin-bottom: 22px;
    }
  }
}

.footer__map {
  position: relative;

  width: 957px;
  height: 530px;
  margin: 0 auto 35px;

  @media #{$screen-tablet} {
    width: 698px;
    height: 545px;

    margin-bottom: 18px;
  }

  @media #{$screen-mobile} {
    width: auto;
    height: auto;
    margin: 0 -15px 31px;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border: none;
  }
}

.footer__contacts {
  margin-right: 20px;

  @media #{$screen-mobile} {
    margin-right: 0;
  }
}
