.header {
  min-height: 825px;

  background-color: $background-safe;
  background-image: url("../../img/background@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background@2x.jpg");
  }

  @media #{$screen-tablet} {
    background: none;
    min-height: auto;
  }

  @media #{$screen-mobile} {
    min-height: 390px;
  }
}

.header__nav {
  margin-bottom: 255px;

  @media #{$screen-tablet} {
    margin-bottom: 0;
  }
}

.header__wrapper {
  display: flex;
  width: 880px;
  margin: 0 auto;
  justify-content: space-between;

  @media #{$screen-tablet} {
    display: block;
    width: auto;
  }
}

.header__about {
  width: 390px;

  h1 {
    @include fz-lh(46px, 139%);

    margin: 0;
    margin-bottom: 24px;

    font-weight: 700;
    color: $common-text-white;

    @media #{$screen-tablet} {
      @include fz-lh(30px, 140%);

      margin-bottom: 20px;

      text-align: center;
    }
  }

  p {
    @include fz-lh(20px, 160%);

    margin: 0;

    font-weight: 300;
    color: rgba($common-text-white, 0.8);

    @media #{$screen-tablet} {
      @include fz-lh(18px, 178%);

      max-width: 435px;
      margin: 0 auto;

      text-align: center;
    }
  }

  @media #{$screen-tablet} {
    width: auto;
    min-height: 340px;
    padding: 25px 20px 0;

    background-color: $background-safe;
    background-image: url("../../img/background@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background@2x.jpg");
    }
  }

  @media #{$screen-mobile} {
    min-height: 390px;
    padding: 25px 15px 0;
  }
}

.header__logo {
  margin-bottom: 30px;

  @media #{$screen-tablet} {
    margin-bottom: 86px;
  }

  @media #{$screen-mobile} {
    margin-bottom: 72px;
  }
}

.header__write-us {
  width: 327px;
  padding-top: 4px;

  p {
    @include fz-lh(17px, 165%);

    margin: 0;
    margin-bottom: 20px;

    font-weight: 600;
    text-align: center;
    color: $common-text-white;

    @media #{$screen-tablet} {
      @include fz-lh(18px, 156%);

      margin-bottom: 30px;

      color: $common-text;
    }

    @media #{$screen-mobile} {
      margin-bottom: 19px;
    }
  }

  @media #{$screen-tablet} {
    width: 321px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 35px;
  }

  @media #{$screen-mobile} {
    width: auto;
    max-width: 321px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
