.menu {
  @media #{$screen-tablet} {
    position: relative;
  }
}

.menu__list {
  @include fz-lh(16px, 200%);

  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 875px;
  margin: 0 auto;

  font-weight: 300;
  border-bottom: 1px solid rgba($white, 0.2);

  @media #{$screen-tablet} {
    @include fz-lh(20px, 140%);

    display: block;

    width: 100%;
    height: 100vh;

    margin: 0;
    padding-top: 100px;

    letter-spacing: 0.3px;

    background-color: $white;
    border: none;

    .menu--opened & {
      position: absolute;
      left: 0;
      top: 0;
    }

    .menu--closed & {
      display: none;
    }

    .menu--nojs & {
      position: static;
    }
  }

  @media #{$screen-mobile} {
    height: 568px;
  }
}

.menu__item {
  @media #{$screen-tablet} {
    margin-bottom: 28px;

    background-color: $mobile-menu-items-bg;
  }
}

.menu__link {
  display: block;
  padding: 21px 20px 9px 20px;
  color: rgba($white, 0.7);


  @media #{$screen-only-desktop} {
    &:hover,
    &:focus {
      margin-bottom: -1px;
      color: rgba($cyan, 1);
      border-bottom: 1px solid $cyan;
    }
  }

  @media #{$screen-tablet} {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 17px 16px;

    color: $mobile-menu-items;

    &::after {
      content: "";

      width: 25px;
      height: 25px;

      background-image: url("../../img/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.menu__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;

  display: none;
  width: 50px;
  height: 50px;

  background-color: $toggle-bg;

  .menu--nojs & {
    display: none;
  }

  @media #{$screen-tablet} {
    display: block;
  }
}

.menu--closed .menu__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 15px;
    width: 22px;
    height: 2px;
    background-color: $black;
    box-shadow: 0 5px 0 0 $black, 0 10px 0 0 $black;
  }
}

.menu--opened .menu__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 10px;
    width: 31px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
