.write-us {
  &--error,
  &--error:hover,
  &--error:focus {
    border-color: red;
  }

  input {
    @include fz-lh(15px, 160%);

    width: 100%;
    margin-bottom: 20px;
    padding: 11px 28px;

    background-color: $white;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    outline: none;

    &::placeholder {
      @include fz-lh(15px, 160%);

      color: rgba($placeholder-color, 0.5);
    }

    @media #{$screen-tablet} {
      padding: 11px 20px;
    }

    @media #{$screen-mobile} {
      padding: 11px 27px;
    }
  }
}
