$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-width-only: 767px;
$tablet-width-only: 1023px;

$screen-mobile: (max-width: $mobile-width-only);
$screen-tablet: (max-width: $tablet-width-only);
$screen-only-desktop: (min-width: $desktop-width);

$white: #ffffff;
$black: #000000;
$dark: #1f1f1f;
$darker: #131314;
$cyan: #0ad9c6;

$common-text: $black;
$common-text-white: $white;
$background-safe: $darker;
$placeholder-color: #1c1c1c;
$input-border-color: #c9ccd4;
$btn-bacgkround: $cyan;
$title-text: $dark;
$feature-number: $cyan;
$mobile-menu-items: #48494d;
$mobile-menu-items-bg: #f6f6f6;
$toggle-bg: $cyan;
$close-cross-color: #141517;
$catalog-bacgkround: #f6f7f9;
$catalog-decor: $cyan;
$link-active: #48494d;
$video-btn: $cyan;

$default-font: "opensans", "Verdana", sans-serif;

$long-transition: 0.4s;
$short-transition: 0.2s;
